{% extends 'base.html' %}

{% block body_id %}estimate{% endblock %}
{% block title %} Estimate {% endblock title%}
{% block controller %} ng-controller="EstimateController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block dialogue_popup %}
	{% include 'payment_mode_details.html' %}
	{% include 'add_salesman.html' %}    
{% endblock %}
{% block extrahead %}
	<script>
		$(function() {
			$( "#estimate_date" ).datepicker();
			$( "#cheque_date" ).datepicker();
			
		});
	</script>
{% endblock %}
{% block content %}
	<h2> Estimate </h2>
	<div class="form_container wide_form">
		<form name="sales_form">	
			<div class="control">
				<label>DO No</label>
				<input type="text" ng-model="estimate.do_no"> 
			</div>		
			<div class="control">
				<label>Estimate No</label>
				<input type="text" ng-model="estimate.estimate_no">
			</div>	
			<div class="control">
				<label>Estimate Date</label>
				<input type="text" id="estimate_date" value="{{current_date}}" readonly>
			</div>	
			<div class="control">
				<label>Salesman</label>
				<input type="text" ng-model="salesman_name" ng-change="search_salesman()" ng-click="select_salesman_flag=true"> 
				<div class="search_list" ng-show="select_salesman_flag">
					<div class="search_list_item" ng-click="select_salesman_flag=false" ng-show="select_salesman_flag" ng-hide="!select_salesman_flag">
						<span><a href="" ng-click="new_salesman(estimate)">Create New</a></span>
					</div>
						<div ng-repeat="salesman in salesmen track by $index" class="search_list_item" ng-click="select_salesman(salesman)">
						<span>[[salesman.name]]</span>
					</div>
				</div>
				<p class="error_msg">[[no_salesman_message]]</p>
			</div>
			<div class="control">
				<label>Customer</label>
				<input type="text" ng-model="customer_name" ng-change="search_customer()"> 
				<div ng-show="customers.length > 0" class="search_list">
					<div ng-repeat="customer in customers" class="search_list_item" ng-click="select_customer(customer)">
						<span>[[customer.name]]</span>
					</div>
				</div>
				<p class="error_msg">[[no_customer_msg]]</p>
			</div>
			<div class="payment_mode">
				<label>Estimate type</label>
				<div class="control">
					<input type="radio" ng-model="estimate.bill_type" value="Taxable" ng-click="change_bill_type('Taxable')"><label>Taxable</label>
					<input type="radio" ng-model="estimate.bill_type" value="NonTaxable" ng-click="change_bill_type('NonTaxable')"><label>Non Taxable</label>
				</div> 
			</div>
			<!-- <div class="payment_mode">
				<label>Payment Mode</label>
				<div class="control">
					<input type="radio" ng-model="estimate.payment_mode" value="cash"><label>Cash</label>
					<input type="radio" ng-model="estimate.payment_mode" value="cheque" ng-click="payment_mode_details('cheque')"><label>Cheque</label>
					<input type="radio" ng-model="estimate.payment_mode" value="card" ng-click="payment_mode_details('card')"><label>Card</label>
					<input type="radio" ng-model="estimate.payment_mode" value="credit"><label>Credit</label>
				</div> 
			</div> -->
			<br/>
			<hr>
			<table class="table list_table table-striped rules" ng-show="estimate.items.length > 0">
				<tr>
					<th>#</th>
					<th> Item Name </th>
					<th> Code </th>
					<th> Batch </th>
					<th> Stock </th>
					<th> UOM </th>
					<th> Quantity </th>
					<th><input type="checkbox" ng-model="select_all_price_type" ng-click="change_price_type()">Whole Sale</th>
					<th> MRP </th>
					<th ng-show="estimate.bill_type == 'Taxable'"> Tax </th> 
					<th> Net Amount </th>
					<th> Remove </th>
				</tr>
				<tr ng-repeat="item in estimate.items">
					<td>[[$index+1]]</td>
					<td>
						<input type="text" ng-model="item.name" ng-change="search_items(item)" value="item.name"ng-click="item.item_search=true;"/>
						<div  class="search_list"ng-show="item.item_search">
							<div ng-repeat="item in items" class="search_list_item" ng-click="get_item_details(item)">
								<span>[[item.name]]</span>
							</div>
						</div>
						<p class="error_msg">[[no_item_msg]]</p>
					</td>
					
					<td>[[item.code]]</td>
					<td>
						<input type="text" ng-change="search_batch(item)" ng-model="item.batch_name">
						<div ng-show="item.batches.length > 0" class="search_list">
							<div ng-repeat="batch in item.batches" class="search_list_item" ng-click="select_batch(batch)">
								<span>[[batch.batch_name]]</span>
							</div>
						</div>
						<p class="error_msg">[[no_batch_msg]]</p>
					</td>
					<td>[[item.stock]] [[item.stock_unit]]</td>
					<td>
						<select ng-model="item.uom" ng-change="calculate_quantity_from_uom(item)" ng-options="selling_unit.unit as selling_unit.unit for selling_unit in item.selling_units">
							<option value="" disabled>Select</option>
							</option>
						</select>
					</td>
					<td><input type="text" ng-model="item.quantity" ng-change="calculate_quantity_from_uom(item)"></td>
					<td><input type="checkbox" ng-change="calculate_quantity_from_uom(item)" ng-model="item.price_type"></td>
					<td>[[item.current_item_price]]</td>
					<td ng-show="estimate.bill_type == 'Taxable'">[[item.tax]]<span ng-show="item.tax > 0">%</span></td>
					<td>[[item.net_amount]]</td>
					<td><input class="" type="submit" value="Remove" ng-click="remove_item(item)"></td>
				</tr> 
			</table>	
			<hr>		
			<div class="button_control control">
				<label>Discount</label>
				<input type="text" ng-model="estimate.discount" ng-change="calculate_total_amount()">
			</div>
			<button ng-click="add_new_estimate_item()">New Item</button>
			<div class="button_control control">
				<label>Grant Total</label>
				<input type="text" ng-model="estimate.grant_total" readonly>
			</div>
			<div class="button_control">
				<p class="error_msg">[[validate_estimate_msg]]</p>
				<input class="" type="submit" value="Save" ng-click="save_estimate()">
			</div>
		</form>
	</div>
{% endblock %}