{% extends 'base.html' %}

{% block body_id %}sales_report{% endblock %}
{% block title %} Sales Report {% endblock title%}
{% block controller %} ng-controller="SalesReportController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block extrahead %}
	<script>
		$(function() {
			$('#start_date').datepicker();
			$('#end_date').datepicker();
		});
	</script>
{% endblock %}
{% block content %}
	
	<h2> Sales Report</h2>
	<div class="form_container single_column_container">
		<div class="control" >
			<label>Start Date</label>
			<input type="text" name="start_date" id="start_date">
		</div>
		<div class="control" >
			<label>End Date</label>
			<input type="text" name="end_date" id="end_date">
		</div>
		<div class="button_control" >
			<p class="error_msg">[[report_mesg]]</p>
			<input type="submit" value="View" ng-click="generate_report('view')">
			<input type="submit" value="Generate Report" ng-click="generate_report()">
		</div>
	</div>
	<br>
	<table ng-show="sales_details.length > 0" class="table list_table">
		<tr>
			<th>Sl.No</th>
			<th>Date</th>
			<th>Invoice No</th>
			<th>Transaction Reference No.</th>
			<th>Salesman</th>
			<th>Customer</th>
			<th>Payment Mode</th>
			<th>Amount</th>
			<th>Discount</th>
			<th>Round off</th>
			<th>Tax</th>
		</tr>
		<tr ng-repeat="sales in sales_details">
			<td>[[$index+1]]</td>
			<td>[[sales.date]]</td>
			<td>[[sales.invoice]]</td>
			<td>[[sales.transaction_ref]]</td>
			<td>[[sales.salesman]]</td>
			<td>[[sales.customer]]</td>
			<td>[[sales.payment_mode]]</td>
			<td>[[sales.grant_total]]</td>
			<td>[[sales.discount]]</td>
			<td>[[sales.round_off]]</td>
			<td>[[sales.tax]]</td>
		</tr>
	</table>
{% endblock content%}