<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
{% block body %}
	<div class="login">
		<h3 class="sub_heading"> Login </h3>
		<form action="{% url 'login' %}" method="POST" >
			{% csrf_token %}
			<label> Username: </label>
			<input type="text" name="username" />
			<label> Password: </label>
			<input type="password" name="password" />
			<input type="submit" name="submit" value="Login" />
			{% if message %}
				<font color="red">{{ message }}
			{% endif %}
		</form>
	</div>
{% endblock body %}