<div id="view_staff">
	<label>First Name : </label>
	<label>[[staff_details.first_name]]</label><br>
	<label>Last Name : </label>
	<label>[[staff_details.last_name]]</label><br>
	<label>Username : </label>
	<label>[[staff_details.username]]</label><br>
	<label>Email : </label>
	<label>[[staff_details.email]]</label><br>
	<label>Designation : </label>
	<label>[[staff_details.designation]]</label><br>
	<label>Address : </label>
	<label>[[staff_details.address]]</label><br>
	<label>Contact No. : </label>
	<label>[[staff_details.contact_no]]</label><br>
	<input type="submit" value="Cancel" ng-click="hide_popup()">
</div>