{% extends 'base.html' %}

{% block body_id %}account_payable{% endblock %}
{% block title %} Account Payable {% endblock title%}
{% block controller %} ng-controller="AccountPayableController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block content %}
	
	<h2> Account Payable</h2>
	<table ng-show="supplier_details.length > 0" class="table list_table">
		<tr>
			<th>Sl.No</th>
			<th>Name</th>
			<th>Dr</th>
			<th>Cr</th>
		</tr>
		<tr ng-repeat="supplier in visible_list">
			<td>[[$index+1]]</td>
			<td>[[supplier.name]]</td>
			<td>[[supplier.debit_balance]]</td>
			<td>[[supplier.credit_balance]]</td>
		</tr>
	</table>
	<div class="form_container">
		<div class="button_control" >
			<input type="submit" value="Generate PDF" ng-click="generate_report()">
		</div>
	</div>
	<div ng-show="supplier_details.length > 0 ">
		{% include 'pagination_div.html' %}
	</div>
{% endblock content%}