{% extends 'base.html' %}
{% block title %} Create Receipt {% endblock title%}
{% block body_id %}create_receipt{% endblock %}
{% block controller %} ng-controller="ReceiptController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block dialogue_popup %}   
	{% include 'show_transaction_details.html' %}   
{% endblock %}
{% block extrahead %}
	 <script>
		$(function() {
		$( "#receipt_date" ).datepicker();
		$( "#cheque_date" ).datepicker();
		});
	</script>
{% endblock %}
{% block content %}
	<h2> Receipt </h2>

	<div class="form_container single_column_container">
		<form>
			<div class="control">
				<label>Date</label>
				<input type="text" name="receipt_date" id="receipt_date" ng-model="receipt.transaction_date" value="receipt_date">
			</div>
			<div class="control">
				<label>Amount</label>
				<input type="text" name="payment_amount" ng-model="receipt.amount">
			</div>
			<div class="control">
				<label>Payment Mode</label>
				<input type="radio" ng-model="receipt.mode" value="cash"/>
				<label class="label_radio">Cash</label>
				<input type="radio" ng-model="receipt.mode" value="card"/>
				<label class="label_radio">Card</label>
				<input type="radio" ng-model="receipt.mode" value="cheque"/>
				<label class="label_radio">Cheque</label>
			</div>

			<div ng-show="receipt.mode == 'card'">
				<div class="control">
					<label>Card Number</label>
					<input type="text" name="card_no" ng-model="receipt.card_no">
				</div>
				<div class="control">
					<label>Card Holder Name</label>
					<input type="text" name="card_holder_name" ng-model="receipt.card_holder_name">
				</div>
				<div class="control">
					<label>Bank Name</label>
					<input type="text" name="bank_name" ng-model="receipt.bank_name" id="bank_name">
				</div>
			</div>
			<div ng-show="receipt.mode == 'cheque'">
				<div class="control">
					<label>Cheque Number</label>
					<input type="text" name="cheque_number" ng-model="receipt.cheque_number">
				</div>
				<div class="control">
					<label>Cheque Date</label>
					<input type="text" name="cheque_date" ng-model="receipt.cheque_date" id="cheque_date">
				</div>
				<div class="control">
					<label>Bank Name</label>
					<input type="text" name="bank_name" ng-model="receipt.bank_name" id="bank_name">
				</div>
				<div class="control">
					<label>Branch</label>
					<input type="text" name="branch" ng-model="receipt.branch" id="branch">
				</div>
			</div>
			<div ng-show="receipt.mode == 'card' || receipt.mode == 'cheque' ">
				<div class="control">
					<label>Bank Ledger</label>
					<select ng-model="receipt.bank_ledger" ng-options="bank_account.id as bank_account.name for bank_account in bank_accounts">
						<option value="">Select</option>
					</select>
				</div>
			</div>
			<div class="control">
				<label>Narration</label>
				<textarea name="payment_narration" ng-model="receipt.narration"></textarea>
			</div>
			<div class="control">
				<label>Account</label>
				<input type="text" name="ledger_name" ng-model="ledger_name" ng-change="get_ledger_list()" ng-disabled="ledger.id" autocomplete="off" />
				<div ng-show="ledgers_list.length > 0" class="search_list">
					<div ng-repeat="ledger in ledgers_list" class="search_list_item" ng-click="get_ledger_details(ledger)">
						<span>[[ledger.ledger_name]]</span>
					</div>
				</div>
			</div>	
			<div class="button_control">
				<p class="error_msg">[[no_ledger_msg]]</p>		
				<p class="error_msg">[[validate_error_msg]]</p>
				<input type="button" value="Cancel" ng-click="cancel_receipt()" />
				<input type="button" ng-click="save_receipt()" value="Save" />
			</div>
		</form>
	</div>

{% endblock content %}	